

.download__app .download__app__item{
    background-image: url('../assets/images/beach.jpeg');
    background-size: cover;
    background-position: center;
    height: 40vh;
    border-radius: 8px;
}

.download__app .download__app__item::before{
    content: "";
    position: absolute;
    background: var(--background-linear-color);
    width: 100%;
    height: 100%;
    opacity: 50%;
    border-radius: 8px;

}

.download__app .download__app__item__hand{
    width: 861.71px;
    height: 590px;
    bottom: -110px;
    right: -30px;
    overflow: hidden;
}
.download__app .download__app__item__hand img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(-15deg);
}

.download__app .download__app__item .download__app__item__content{
    transform: translateY(-100%);
}