/* Custom CSS for Burger Menu */
/* Default Navbar Styles */
.navbar {
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  background-color: transparent; /* Transparent background by default */
}

/* Scrolled Navbar Styles */
.scrolled .navbar {
  background-color: var(--background-color-nav); /* Change background to white when scrolled */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.scrolled .navbar-brand,
.scrolled .nav-link,
.scrolled .btn {
  color: rgb(255, 255, 255); /* Change text color to black for contrast */
}

.scrolled .navbar-toggler img {
  filter: brightness(1); /* Invert hamburger icon color for better visibility  */
}

.navbar-toggler {
    border: none;
    padding: 0.25rem; 
  }
  
  .navbar-toggler img {
    filter: brightness(0); 
  }

/* Remove outline on burger button */
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Style the mobile navbar collapse */
.mobile-navbar-collapse {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  background-color: var( --background-color-nav);
  z-index: 1000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.mobile-navbar-collapse.show {
  max-height: 500px;
}

/* Style the mobile menu links */
.mobile-navbar-collapse .nav-link {
  padding: 0.5rem 1rem; 
  color: var(--text-color); 
}


/* Style the mobile buttons */
.mobile-navbar-collapse .btn {
  width: 100%; 
  margin-bottom: 0.5rem; 
}

@media (max-width: 768px) {
  .container{
    max-width: 100%;
}
  .navbar {
    display: flex;
    position: fixed !important;
    padding: 10px;
    z-index: 1000;
    border-radius: 0;
    width: 100% !important;
  }

  .navbar-toggler img {
    filter: brightness(1); 
  }
  
  .navbar .Logo a {
    color: var(--text-color);
  }
}


